name: Upload to PIP

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  upload_pip:
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    env:
      TAG: ${{ github.ref_name }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install setuptools wheel twine

      - name: "Builds"
        run: python setup.py sdist bdist_wheel

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: "Wait for PyPI to update"
        run: sleep 60

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.ABSTRA_BOT_PAT }}
          repository: abstra-app/abstracloud
          event-type: abstra-lib-release
